@model ImageApplication.Models.User


<h2>User details</h2>
<table>
    <tr>
        <td>ID</td>
        <td>@Model.UserID</td>
    </tr>
    <tr>
        <td>Username</td>
        <td>@Model.UserName</td>
    </tr>
</table>