<div class="container container-main row">
    <div class="container-header">
        <h2>Users</h2>
    </div>
    <div class="col-1"></div>
    <div class="col-10">
        <table class="table-list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Last login</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hej</td>
                    <td>Hej</td>
                    <td>Hej</td>
                    <td>Hej</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>